{% extends "base.html" %}
{% block title %}Encryption{% endblock %}
{% block content %}
  <h1>RSA Encrypton</h1>
  <form action="#" method="POST" target="response">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dirRadio" id="encrypt" value="encrypt" checked>
      <label class="form-check-label" for="encrypt">
        Encrypt
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dirRadio" id="decrypt" value="decrypt">
      <label class="form-check-label" for="decrypt">
        Decrypt
      </label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="keyLabel">Key</span>
      <textarea class="form-control" id="key" name="key"></textarea>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="dataLabel">Data</span>
      <input type="text" class="form-control" placeholder="Insert data" id="data" name="data">
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
  <iframe name="response" onload="this.width=screen.width"></iframe>
{% endblock %}
