{% extends "base.html" %}
{% block title %}Password Generation{% endblock %}
{% block content %}
  <h1>Passwords</h1>
  <form action="#" method="POST" target="response">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="passRadio" id="wordPassRadio" onClick="useWords()" value="words">
      <label class="form-check-label" for="wordPassRadio" onClick="useWords()">
        Use words
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="passRadio" id="randomPassRadio" onClick="useRandom()" value="random" checked>
      <label class="form-check-label" for="randomPassRadio">
        Random password
      </label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="lengthOrderLabel">Length</span>
      <input type="text" class="form-control" placeholder="Length of the password" id="lengthOrderInput" name="lengthOrder">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="requirementLabel">Rrequired Characters</span>
      <input type="text" class="form-control" id="requirementInput" name="requirement">
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
  <iframe name="response" onload="this.width=screen.width"></iframe>

  <script>
    function useWords() {
      document.getElementById("lengthOrderLabel").innerHTML = "Order";
      document.getElementById("lengthOrderInput").setAttribute("placeholder", "Use 'w' for word, 'n' for number. Example: wwwn");
      document.getElementById("requirementLabel").style.display = "none";
      document.getElementById("requirementInput").style.display = "none";
    };
    function useRandom() {
      document.getElementById("lengthOrderLabel").innerHTML = "Length";
      document.getElementById("lengthOrderInput").setAttribute("placeholder", "Length of the password");
      document.getElementById("requirementLabel").style.display = "block";
      document.getElementById("requirementInput").style.display = "block";
    };
  </script>
{% endblock %}
